@font-face {
  font-family: "Heebo";
  src: url(../font/Heebo-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Chakra Petch Regular";
  src: url(../font/ChakraPetch-Regular.ttf);
}

.root {
  -fx-font-family: "Chakra Petch Regular";
  -fx-font-size: 18pt;
}

.customer-detail-view .text-field {
  -fx-border-color: rgb(0, 0, 0, 0);
  -fx-border-width: 2px;
}

.customer-detail-view .error {
  -fx-border-color: red;
  -fx-border-width: 2px;
}

.validation-error-label {
  -fx-text-fill: red;
}

.hidden {
  visibility: hidden;
}