.root {
  -fx-font-family: serif;
  -fx-font-size: 18pt;

  /* from stack overflow https://stackoverflow.com/questions/62359337/how-to-change-treeview-color-in-javafx-programmatically-without-using-css/62363136#62363136 */
  -fx-base: #242424 ;
  -fx-control-inner-background: derive(-fx-base,20%);
  -fx-control-inner-background-alt: derive(-fx-control-inner-background,-10%);
  -fx-accent: #006689;
  -fx-focus-color: #036E83;
  -fx-faint-focus-color: #036E8322;
}
