@font-face {
  font-family: "Roboto Regular";
  src: url(../font/Roboto-Regular.ttf)
}
.root {
  -fx-font-family: "Roboto Regular";
  -fx-font-size: 14pt;
}

.customer-detail-view .text-field {
  -fx-border-color: rgb(255, 255, 255, 0);
  -fx-border-width: 1px;
  -fx-border-style: solid inside;
}

.customer-detail-view .error {
  -fx-border-color: red;
  -fx-border-width: 1px;
  -fx-border-style: solid inside;
}

.hidden {
  visibility: hidden;
}

.error-label {
  -fx-text-fill: red;
}